html,body{
	display: block;
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

header{

	display: block;
	height: 15%;
}
footer{

	display: block;
	height: 15%;
}
content{
 
display: block;
overflow-x:hidden;
overflow-y:scroll;
height: 70%;
}
*::-webkit-scrollbar{
width:2px !important;
}
.imageClass{
	width: 20%;
	height: 150px;
	padding: 5px;
}